<ion-header>
  <ion-toolbar color="dark">
    <ion-title>AppFacial - IA Access</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-content>
      <p>{{ statusMessage() }}</p>
    </ion-card-content>
  </ion-card>

  <div class="container-imagenes" style="display: flex; flex-direction: column; align-items: center; gap: 20px; margin-top: 20px;">
    
    <div style="position: absolute; opacity: 0; pointer-events: none; z-index: -1;">
      <img id="imagenReferencia" src="assets/images/yo.jpeg" crossorigin="anonymous" />
      <img id="imagenReferenciaCompanero" src="assets/images/Sergio.jpeg" crossorigin="anonymous" />
    </div>

    <div>
      <h5 style="color: #a5a1ff; text-transform: uppercase;">Sensor IA Activo</h5>
      <video id="videoCamara" autoplay playsinline muted width="250" height="250" style="border-radius: 16px; border: 3px solid #6200ee; object-fit: cover; transform: scaleX(-1);"></video>
    </div>
  </div>

  @if (!isLoadingModels()) {
    <div class="ion-margin-top" style="color: #00e676; font-weight: bold; animation: pulse 2s infinite;">
      <ion-icon name="scan-outline" style="font-size: 24px; vertical-align: middle;"></ion-icon>
      Escaneando el entorno cada 5s...
    </div>
  }

  @if (matchResult()) {
    <div class="result-box ion-margin-top" style="background: rgba(0,0,0,0.4); padding: 15px; border-radius: 10px; border: 1px dashed rgba(255, 255, 255, 0.2);">
      <h2 [ngStyle]="{'color': matchResult().includes('EXITOSO') ? '#00e676' : '#ff1744', 'font-weight': 'bold'}">
        {{ matchResult() }}
      </h2>
    </div>
  }
</ion-content>
