<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Panel de Clasificación</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']" routerDirection="root">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-bg ion-padding">
  <div class="welcome-header fade-in">
    <h2>¡Hola, {{ usuarioLogeado }}!</h2>
    <p>Sistema TR1 Activo y conectado a Raspberry Pi.</p>
  </div>

  <div class="records-container fade-in">
    <h3>Capturas de Visión Artificial</h3>
    
    <ion-card class="glass-card">
      <img src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80" alt="Registro de cámara" />
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="hardware-chip-outline"></ion-icon> Nodo Raspberry Pi 1
        </ion-card-subtitle>
        <ion-card-title>Rostro Detectado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="time-outline"></ion-icon> Hoy, 14:30 hrs
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>